<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LimitlessLED_Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ip" value="255.255.255.255" />
    <add key="port" value="8899" />
    <add key="wakeDelay" value="101" />
  </appSettings>
  <userSettings>
    <LimitlessLED_Test.Properties.Settings>
      <setting name="currentBrightness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="IP" serializeAs="String">
        <value />
      </setting>
    </LimitlessLED_Test.Properties.Settings>
  </userSettings>
</configuration>